<div class="media mb-3">
  <img src="<%= comment.user.avatar_url %>" class="mr-3 rounded-circle" alt="User Avatar" width="64">
  <div class="media-body">
    <h5 class="mt-0"><%= comment.user.email %></h5>
    <%= comment.content %>
  </div>
</div>
